.body {
  margin: 0;
}

.purple_text_border {
  border: 4px inset #f2e6ff;
  min-height: 196px;
  padding: 6px;
}

.div_flexbox_left {
  display: flex;
  flex-direction: row;
}

.div_flexbox_yellow {
  display: flex;
  flex-direction: row-reverse;
}

h3 {
  text-align: center;
}

#a {
  width: 75%;
  float: left;
}

#a_2 {
  max-width: 25%;
  float: left;
  padding-left: 85px;
}

#b {
  width: 75%;
  float: right;
}

#b_2 {
  width: 25%;
  float: right;
  padding: 1.5% 165px 0.6% 13%;
}

#c {
  min-width: 75%;
  float: left;
  padding-top: 0.5%;
  padding-left: 0.5%;
}

#c_2 {
  padding-left: 37%;
}

#d {
  width: 75%;
  float: left;
  padding: 0 25px 0 0.5%;
}

#d_2 {
  max-width: 25%;
  float: left;
  padding-left: 85px;
}

.background_purple_article {
  background-color: #e2cdfa;
  padding: 0px 10px 0px 10px;
}

.background_purple_header {
  background-color: #d5b7f7;
}

.header {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #d5b7f7;
}

.image_purple_border {
  border: 5px inset #f2e6ff;
}

h2 {
  padding: 0% 2.5% 0% 2.5%;
  padding-top: 18px;
}

.font_size {
  font-size: larger;
}

.section_purple {
  background-color: #f1e6ff;
}

.image_yellow_border {
  border: 5px inset #c2cc56;
}

.background_yellow_header {
  background-color: #f0f792;
}

.yellow_text_border {
  border: 4px inset #c2cc56;
  min-height: 196px;
  padding: 6px;
}

.background_yellow_article {
  background-color: #f6f7ba;
  padding: 0px 10px 0px 10px;
}

.section_yellow {
  background-color: #fcffcf;
}

.header_polnocna {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #a5f0ab;
}

.navigation_link_index {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
  background-color: #c19aed;
}

.navigation_link_polnocna {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
  background-color: #77d17f;
}

.navigation {
  font-size: larger;
  font-weight: bold;
  font-family: cursive;
  margin: auto;
  padding: 21px;
}

.section_green {
  background-color: #deffe0;
}

.background_green_header {
  background-color: #a6f7ab;
}

.image_green_border {
  border: 10px double #7bbd7f;
  margin: 0.2%;
}

.green_text_border {
  border: 6px double #7bbd7f;
  min-height: 200px;
  padding: 6px;
}

.background_green_article {
  background-color: #b8ffbb;
}

.div_flexbox_green {
  display: flex;
  flex-direction: column;
}

.background_peach_header {
  background-color: #fcb56d;
}

.section_peach {
  background-color: #f7e7d7; 
}

.background_peach_article {
  background-color: #f5dbc1;
}

.image_peach_border {
  border: 5px inset #e09f5e;
}

.peach_text_border {
  border: 4px inset #e09f5e;
  min-height: 180px;
  padding: 6px;
}

